#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: calc(var(--spacing) * 8);
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(247 249 253);
}

main {
  background: linear-gradient(135deg, #f7f9fd 0%, #ecdeee 50%, #fae2ea 100%);
  background-size: 200% 200%;
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 16px;

  ol,
  ul {
    list-style: revert;
    padding-left: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }

  code,
  pre {
    background-color: #ececec;
    border-radius: 0.25rem;
    padding: 0.15rem 0.3rem;
    font-size: 0.85rem;
  }

  pre:has(> code) {
    padding: 0.5rem 1rem;
  }

  pre code {
    padding: 0;
  }

  blockquote {
    padding-left: calc(var(--spacing) * 6);
    border-left: 3px solid #cccccc;
    margin-bottom: calc(var(--spacing) * 2);

    p:has(+ *) {
      margin-top: calc(var(--spacing) * 2);
    }

    blockquote {
      padding-bottom: calc(var(--spacing) * 2);
    }
  }

  p:has(+ *) {
    margin-bottom: calc(var(--spacing) * 2);
  }

  a {
    text-decoration: underline var(--color-blue-400);
    text-underline-offset: 4px;
  }

  a:hover {
    color: var(--color-blue-400);
  }
}
